@page "/WorkPlace"
@model WebDictionary.Pages.WorkPlace.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Dictionaries/Create">Create New Dictionary</a>
    <a asp-page="Words/_Create">Create New Word</a>
</p>
<div class="row">
    <div class="col-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Dictionary[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dictionary[0].Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Dictionary) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-page="Dictionaries/Edit" asp-route-id="@item.DictionaryId">Edit</a> |
                            <a asp-page="Dictionaries/Details" asp-route-id="@item.DictionaryId">Details</a> |
                            <a asp-page="Dictionaries/Delete" asp-route-id="@item.DictionaryId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Word[0].EnWord)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Word[0].UaWord)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Word[0].Definition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Word[0].Dictionary)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Word)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnWord)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UaWord)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Definition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dictionary.Name)
                        </td>
                        <td>
                            <a asp-page="Words/_Edit" asp-route-id="@item.WordId">Edit</a> |
                            <a asp-page="Words/_Details" asp-route-id="@item.WordId">Details</a> |
                            <a asp-page="Words/_Delete" asp-route-id="@item.WordId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

