@page
@model WebDictionary.Pages.WorkPlace.Words.DetailsModel

<div>
    <h4>Word</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word.EnWord)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.EnWord)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word.UaWord)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.UaWord)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word.Definition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.Definition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word.Dictionary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.Dictionary.Name)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.Dictionary.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./_Edit" asp-route-id="@Model.Word?.WordId">Edit</a> |
    <a asp-page="/WorkPlace/WorkPlace">Back to List</a>
</div>
